.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: relative;
  margin-top: 20px;
  padding: 10px 10px;
}

.area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fffaef;
  width: 800px; 
  height: 200px; 
  border: 1px #000 solid;
  border-radius: 20px;
}

.clickText {
  font-size: 28px;
}

.inputFiles {

  /* pointer-events: none; */
  /* visibility: hidden; */
  opacity: 0%;
}

.img_block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.image {
  /* display: block; */
  display: flex;
  box-sizing:border-box;
  /* overflow: hidden; */
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 200px;
  height: 200px;
  margin: 30px 15px 30px;
  outline: 2px solid #00af64;
  
  
}

.img {
  max-width: 200px;
  max-height: 200px;
  margin: auto auto; 
}

.btn_close {
  position: absolute;
  top: -15px;
  right: -15px;
}
